/*Estilos generales para la aplicación*/

@font-face {
    font-family: Acumin;
    font-weight: bold;
    src: url("Acumin-BdPro.otf") format("opentype");
}



#app-container {
    width: 100%;
    max-width: none;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 15px;
    margin: 0px;
}

hr {
    margin: 0.3rem 0rem;
}



.navbar-logo {
    width: 10em; 
    height: 3.8em;
    margin: 0 auto;
    padding: 0;
    
}


H5 {
    color: #2c8cff;
    font-weight: 300;
}

H5, H3 {
    font-family: Acumin, "Helvetica Neue", sans-serif;
}

/*Estilos para las columnas de cada layout*/

#left-column {
    margin-top: 20px;
    padding: 0rem 2rem;
    display: flow-root;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 5.5rem);
}

#right-column {
    background-color: #f4f4f4;
    padding: 0rem 2rem;
    min-height: calc(100vh - 5.5rem);
    min-width: 66%
}

#intro {
    margin: 20px 0px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: justify;
}

.table-row {
    height: 63px;
    vertical-align: middle;
    font-size: 13px;
}

.text-upload{
    text-align: center;
}

.text-description{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.draglayer {
    cursor: pointer !important;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

/*Estilos para figuras*/

.crisp{
    display: flexbox;
    justify-content: center;
    margin: 0 1000em;
}

.my-dropdown{
    width: 50%;
    margin: 0 auto;
}

.my-dropdown .Select-menu-outer{
    display: inline-block;
    position: relative;
    font-family: Acumin;
    position: absolute;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: auto;
}

/*Borde para los contenedores de las tablas generadas */
.dash-table-container{
    position: relative;
    display: grid;
    border: 1px solid rgb(171, 169, 169);
    border-radius: 5px;
    border-style: ridge;
    width: fit-content;
    margin: 0 auto;
}

.column-header-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.unfocused{
    font-family: Acumin, 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: lighter;
}

.form-group{
    font-family: Acumin, 'Helvetica Neue', sans-serif;
    color: #2c8cff;
    font-weight: 100;
}

/* Animación para las Cards */
.card-anim:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
    background-color: #f2f2f2;
}

.drag:hover{
    background-color: #c1c1c1;
}

/*
  ##Diseño responsive: para mòviles (iPad, Android, Surface)
  */

@media only screen and (max-width: 750px), screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 13px;
        margin: 0px;
    }

    .banner {
        height: 6rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #intro {
        margin: 10px 0px;
    }

    #left-column, #right-column {
        width: 100%;
        margin-left: 0px;
    }

    #right-column {
        padding: 0rem 0.5rem;
    }

    #reset-btn-outer {
        text-align: center;
    }

    .table-row > div {
        width: 100% !important;
        text-align: center;
        margin: auto;
    }

    .table-row:nth-child(even), .table-row:nth-child(odd) {
        background-color: #FFFFFF;
    }

    #header {
        display: none;
    }

    button, .button{
        margin-left: auto; 
        margin-right: 0;
    }
    

}